* {
  margin: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  display: grid;
  grid-template: 10em 3em 7fr 7em / 3fr 1fr;
  grid-template-areas: 
  'header header'
  'navBar navBar'
  'mainContent sideBar'
  'footer footer';
  height: 100vh;

}

.header {
  grid-area: header;
  border: 0.1em solid rgba(9, 255, 0, 0.473);
}

.navBar {
  grid-area: navBar;
  border: 0.1em solid rgba(255, 0, 55, 0.849);
  display: flex;
}

.mainContent {
  grid-area: mainContent;
  border: 0.1em solid rgba(17, 0, 255, 0.473);
}

.sideBar {
  grid-area: sideBar;
  border: 0.1em solid rgba(255, 196, 0, 0.473);
}

.footer {
  grid-area: footer;
  border: 0.1em solid rgba(0, 255, 221, 0.473);
}

.login {
  float: right;
  margin: 0;
  padding: 20px 10vw;
  background: rgba(0, 0, 0, 0.384);
}

.articleCard {
  border: 0.1em solid rgba(157, 255, 0, 0.473);
  display: grid;
  grid-template: 2fr 1fr 1fr / 6fr 2fr;
  grid-template-areas: 
  'title title'
  'author article_info'
  'topic article_info'
}

.articleCard-title {
  grid-area: title;
}

.articleCard-author {
  grid-area: author;
}

.articleCard-topic {
  grid-area: topic;
}

.articleInfo {
  grid-area: article_info;
}

.articleCard-votes {
  grid-area: votes;
}

.articleCard-comment_count {
  grid-area: comment_count;
}

.articleCard-created_at {
  grid-area: created_at;
}

.floatBar {
  position: fixed;
  width: 100vw;
}

.link {
  padding: 0 1rem;
  text-decoration: none;
  font-size: 2em;
  border: 0.1em solid rgba(18, 170, 132, 0.473);
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

ul {
  padding: 2px;
}

.comments {
  border: 0.1em solid rgba(170, 18, 25, 0.473);
}

.comment {
  border: 0.1em solid rgba(33, 18, 170, 0.432);
}

#newArticle {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr 5fr 1fr / 10rem 1fr;
  grid-template-areas:
  'title title'
  'body body'
  'empty submit';
}

#newArticle-title {
  resize: none;
  grid-area: title;
  text-align: center;
  font-size: 2rem;
}

#newArticle-body {
  resize: none;
  grid-area: body;
  font-size: 1rem;
}

.avatarImg {
  height: 3em;
  width: 3em;
}