* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

button {
  background-color: rgb(75, 75, 75);
  border: 0.5px solid rgb(156, 156, 156);
  color: white;
  border-radius: 3px;
  padding: 0.1em 0.5em;
  text-decoration: none;
  font-size: 1em;
  transition: 0.5s ease;
  transition-property: background-color color;
}

button:hover {
  background-color: rgb(187, 187, 187);
  color: rgb(65, 65, 65)
}

.arrow-button {
  color: white;
  transition: color 0.5s ease
}

.arrow-button:hover {
  color: grey;
}

textarea {
  resize: none;
}

.App {
  display: grid;
  grid-template: 3fr 3em 7fr 10em / 3fr 1fr;
  grid-template-areas: 
  'header header'
  'navBar navBar'
  'mainContent sideBar'
  'footer footer';
  height: 100vh;
}

.header {
  grid-area: header;
  color: white;
  background: #BA1F31;
  padding: auto;
}

.title {
  font-size: 4em;
  margin: 60px 30px 30px 30px;
}

.subtitle {
  font-size: 2em;
  color: rgb(182, 182, 182);
  margin: 30px;
}

.navBar {
  grid-area: navBar;
  /* border: 0.1em solid rgba(255, 0, 55, 0.849); */
  font-size: 2em;
  background: #BA1F31;
  padding: 0 20px;
}

.navItem {
  color: white;
}

.mainContent {
  grid-area: mainContent;
  /* border: 0.1em solid rgba(17, 0, 255, 0.473); */
  background: hsl(0, 0%, 19%);
  color: white;
  padding: 10px;
}

#sideBar-big {
  grid-area: sideBar;
  /* border: 0.1em solid rgba(255, 196, 0, 0.473); */
  background: #2A3132;
  color: white;
}

.footer {
  grid-area: footer;
  /* border: 0.1em solid rgba(0, 255, 221, 0.473); */
  background: #BA1F31;
  ;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: '. githubLink'
}

.githubLink {
  grid-area: githubLink;
  color: rgb(49, 49, 49);
  font-size: 40px;
  justify-self: center;
  align-self: center;
}

.sideBar-button {
  margin: 5px;
}


.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.articleCard {
  border: 0.1em solid rgba(126, 126, 126, 0.473);
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.2em;
  display: grid;
  grid-template: 2fr 1fr 1fr / 6fr 2fr;
  grid-template-areas: 
  'title title'
  'author article_info'
  'topic article_info'
}

.articleCard-title {
  grid-area: title;
  color: rgb(230, 230, 230);
}

.articleCard-author {
  grid-area: author;
  color: hsl(0, 0%, 50%);
}

.articleCard-topic {
  grid-area: topic;
}

.articleInfo {
  grid-area: article_info;
  justify-self: right;
  text-align: right;
}

.articleCard-votes {
  font-size: 0.9em;
}

.articleCard-comment_count {
  grid-area: comment_count;
  font-size: 1em;
  color: grey;
}

.articleCard-created_at {
  grid-area: created_at;
  font-size: 0.8em;
  color: rgb(161, 161, 161);
}

.article-title {
  margin: 10px 0;
  padding: 5px;
}

.article-author {
  margin: 10px 0;
  color: grey;
  padding: 5px;
}

.article-body {
  margin: 10px 0;
  padding: 5px;
}

.articleVote {
  padding: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.dark {
  color: rgb(117, 117, 117)
}

.medium {
  color: rgb(179, 179, 179)
}

.light {
  color: rgb(219, 219, 219)
}

.orderSelect select {
  background-color: grey;
  border-radius: 2px;
  margin: 3px 5px;
}

.newTopic {
  display: grid;
  grid-template: 2fr 1fr 1fr 1fr / 1fr 4fr;
  grid-template-areas: 
  'newTopic-title newTopic-title'
  'newTopic-slug newTopic-slug-input'
  'newTopic-desc newTopic-desc-input'
  'newTopic-submit .';
}

.newTopic-title {
  grid-area: newTopic-title;
  margin: 5px;
}

.newTopic-slug {
  grid-area: newTopic-slug;
  margin: 10px 5px;
}

.newTopic-slug-input {
  grid-area: newTopic-slug-input;
  margin: 10px 0;
  width: 150px;
}

.newTopic-desc {
  grid-area: newTopic-desc;
  margin: 10px 5px;
}

.newTopic-desc-input {
  grid-area: newTopic-desc-input;
  margin: 10px 0;
  width: 300px;

}

.newTopic-submit {
  grid-area: newTopic-submit;
  margin: 10px 5px;
  width: 100px;
}

.floatBar {
  position: fixed;
  width: 300px;
  right: 0;
  color: white;
  background: rgb(56, 56, 56);
  border-radius: 0 0 0 1em;


  /* display: grid;
  grid-template-columns: 3fr 1fr  */
}

.login {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-template-areas: 
  'label input input'
  '. login-button signup-button';
  height: 60px;
  /* justify-content: center; */
}

#username-label {
  grid-area: label;
  font-size: 1em;
  justify-self: center;
  align-self: center;

}

#username-input {
  grid-area: input;
  font-size: 0.8em;
  width: 95%;
  justify-self: right;
  align-self: center;
  margin: 0 5px;
}

#login-button {
  grid-area: login-button;
  justify-self: left;
  align-self: center;
  width: 90px;
}

#signup-button {
  grid-area: signup-button;
  justify-self: right;
  align-self: center;
  width: 90px;
  margin: 0 5px;
}

.userHead {
  display: grid;
  grid-template: 1fr / 2fr 1fr 1fr;
  grid-template-areas: 
  'userText avatarImg logout';
  height: 60px;
  /* justify-content: center; */
}

.userHead-text {
  grid-area: userText;
  font-size: 0.8em;
  justify-self: center;
  align-self: center;
}

.userHead-avatarImg {
  grid-area: avatarImg;
  height: 3em;
  width: auto;
  border-radius: 50%;
  background-clip: padding-box;
  justify-self: left;
  align-self: center;
}


.userHead-logout {
  grid-area: logout;
  height: 25px;
  justify-self: left;
  align-self: center;
}

#sideBar-small {
  visibility: hidden;
  position: fixed;
}


.topicsList {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

.link {
  padding: 0 1em;
  text-decoration: none;
  font-size: 2em;
  transition: transform 0.1s ease;
  transform-origin: 10%;
  color: white;
  /* border: 0.1em solid rgba(18, 170, 132, 0.473); */
}

.link:hover {
  transform: scale(1.1);
  color: hsl(353, 71%, 43%);
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.5s ease;
}

a:hover {
  color: rgb(92, 92, 92);
}

li {
  list-style: none;
}

ul {
  padding: 2px;
}


.loginPrompt {
  text-align: center;
  color: grey;
}

#newArticle {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr 5fr 1fr / 10rem 3fr 1fr;
  grid-template-areas:
  'title title topic'
  'body body body'
  'submit error .';
}

#newArticle-title {
  resize: none;
  grid-area: title;
  text-align: center;
  font-size: 2rem;
  height: 50px;
  margin: 15px 0;
  width: 80%;
  justify-self: left;
}

#newArticle-body {
  resize: none;
  grid-area: body;
  font-size: 1rem;
}

#newArticle-topic {
  grid-area: topic;
  width: 130px;
  height: 40px;
  align-self: center;
  justify-self: right;
  background-color: rgb(172, 172, 172);
  border: 0.2px solid rgb(109, 109, 109);
  border-radius: 5px;
}

#newArticle-submit {
  grid-area: submit;
  width: 100px;
  height: 40px;
  align-self: center;
}

#newArticle-error {
  grid-area: error;
  align-self: center;
  color: rgb(253, 105, 105);
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}



.comments {
  border: 0.1em solid hsl(0, 50%, 34%);
  border-radius: 3px;
  padding: 5px;
}

.comment {
  border: 0.1em solid rgba(68, 68, 68, 0.473);
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  display: grid;
  grid-template: 5fr 1fr / 5fr 1fr;
  grid-template-areas: 
  'comment-body comment-voteIcon'
  'comment-author comment-delete';
}

.comment-body {
  grid-area: comment-body;
}

.comment-author {
  grid-area: comment-author;
  color: grey;
}

.comment-delete {
  grid-area: comment-delete;
  align-self: center;
  justify-self: center;
  color: grey;
  transition: color 0.5s ease;
}

.comment-delete:hover {
  color: rgb(223, 223, 223);
}

.comment-voteIcon {
  grid-area: comment-voteIcon;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.newComment {
  margin: 5px;
  display: grid;
  grid-template: 2fr 1fr / 1fr 5fr;
  grid-template-areas: 
  'newComment-field newComment-field'
  'newComment-submit .';
}

.redBorder {
  border: solid 2px hsl(0, 80%, 50%);;
}

#newComment-field {
  grid-area: newComment-field;
  margin: 5px 0;
}

#newComment-submit {
  grid-area: newComment-submit;
  margin: 5px 0;
}


.newUserForm {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 3fr; 
  grid-template-areas: 
  'name nameInput'
  'username usernameInput'
  'avatar avatarInput'
  'null submit'
}

#newNameLabel {
  grid-area: name;
  align-self: center;

}

#newName {
  grid-area: nameInput;
  width: 15rem;
  margin: 10px;
}

#newUsernameLabel {
  grid-area: username;
  align-self: center;
}

#newUsername {
  grid-area: usernameInput;
  width: 15rem;
  margin: 10px;
}

#newAvatarLabel {
  grid-area: avatar;
  align-self: center;
}

#newAvatar {
  grid-area: avatarInput;
  width: 15rem;
  margin: 10px;
}

#newUserSubmit {
  grid-area: submit;
  width: 10rem;
  margin: 10px;
}

.softNotice {
  color: rgba(0, 0, 0, 0.514)
}



/* LOADING ICON */

.loadingContainer {
  display: flex;
  justify-content: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.w3-sidebar {
  width: 200px;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .App {
    display: grid;
    grid-template: 18em 3em 7fr 10em / 3fr 1fr;
    grid-template-areas: 
    'header header'
    'navBar navBar'
    'mainContent mainContent'
    'footer footer';
    height: 100vh;
  }

  .topicsList {
    height: auto;
    justify-content: center;
  }

  .header {
    grid-area: header;
    /* background: url('https://lifesignsblog.com/wp-content/uploads/2016/01/header-background.jpg') */
  }

  .title {
    font-size: 2em;
    margin: 100px 30px 0px 30px;
  }

  .subtitle {
    font-size: 1.5em;
    color: rgb(182, 182, 182);
    margin: 30px;
  }

  .navBar {
    grid-area: navBar;
    /* border: 0.1em solid rgba(255, 0, 55, 0.849); */
    font-size: 2em;
  }

  .mainContent {
    grid-area: mainContent;
    /* border: 0.1em solid rgba(17, 0, 255, 0.473); */
    background: hsl(187, 9%, 18%);
    color: white;
    padding: 5px;
  }

  #sideBar-big {
    grid-area: sideBar;
    /* border: 0.1em solid rgba(255, 196, 0, 0.473); */
    background: hsl(187, 9%, 18%);
    color: white;
    visibility: hidden;
    position: fixed;
  }

  #sideBar-small {
    visibility: visible;
    position: relative;
    text-align: right;
  }

  .floatBar {
    position: fixed;
    /* top: 0;
    left: 0;
    right: 0; */
    width: 100vw;
    color: white;
    background: rgb(56, 56, 56);
    border-radius: 0;
  }

  .login {
    grid-template: 1fr 1fr / 2fr 2fr 1fr;
  }

  #login-button {
    justify-self: right;
  }

  .footer {
    grid-area: footer;
    /* border: 0.1em solid rgba(0, 255, 221, 0.473); */
  }

  .userHead {
    display: grid;
    grid-template: 1fr / 2fr 1fr 1fr;
    grid-template-areas: 
    'avatarImg userText logout';
    height: 60px;
  }
  
  .userHead-text {
    grid-area: userText;
    font-size: 0.8em;
    text-align: right;
  }
  
  .userHead-avatarImg {
    grid-area: avatarImg;
    height: 3em;
    width: auto;
    border-radius: 50%;
    background-clip: padding-box;
    justify-self: right;
    align-self: center;
  }
  
  
  .userHead-logout {
    grid-area: logout;
    height: 25px;
    justify-self: right;
    margin: 5px;
    align-self: center;
  }

  .newTopic-slug-input {
    width: 30vw;
  }

  .newTopic-desc-input {
    width: 50vw;
  }


  #newArticle {
    justify-self: center;
    grid-template: 1fr 5fr 1fr / 10rem 3fr 1fr;
    grid-template-areas:
    'title title title'
    'body body body'
    'submit . topic';
  }

  #newArticle-title {
    justify-self: center;
  }
}